<div id="left" class="span3">
  <h4 class="text-center">{{quiz.title}}</h4>
  <div ng-show="answers.length == 0">
    Your answers will show here.
  </div>
  <div ng-hide="answers.length == 0">
    <p>Answers</p>
    <ul class="unstyled answers">
      <li ng-repeat="a in answers">
        {{a.text}}
      </li>
    </ul>
  </div>
</div>
<div class="span6 text-center">
  <div class="quiz well">
    <p class="text-left">Question {{question.questionId}} of {{quiz.number_of_questions}}</p>
    <p class="lead">{{question.question_text}}</p>
    <ul class="unstyled options">
      <li class="option-{{isSelected(question.questionId, option)}}" ng-click="addAnswer(question.questionId, option)" ng-repeat="option in question.options">
        <strong>{{option.text}}</strong>
      </li>
    </ul>
    <div>
      <span class="pull-left">
        <a class="btn" type="button" ng-show="question.questionId > 1" href="#/quizzes/{{quiz.quizId}}/q/question{{question.questionId-1}}">Previous</a>
      </span>
      <span class="pull-right">
        <a class="btn" type="button" ng-show="question.questionId < quiz.number_of_questions && isAnswered(question.questionId)" href="#/quizzes/{{quiz.quizId}}/q/question{{question.questionId+1}}">Next</a>
        <a class="btn" type="button" ng-show="question.questionId == quiz.number_of_questions && isAnswered(question.questionId)" href="#/quizzes/{{quiz.quizId}}/results">Finish</a>
      </span>
    </div>
    <br/>  
  </div>
</div>